*{padding:0;margin:0;    font-family: Arial, Helvetica, sans-serif;}
body{
  height:2000px;
}
a{text-decoration: none;}
ul{list-style: none;}
.wrap ,.sliderc,.slidercontent{
  height:100vh;
  width:100%;
  margin:0;
  padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.active{
  background:#2AC991;
  padding:0.3em;
  border-radius: 5px;
  transition: all 0.5s;
}
.slidercontent{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
header h2{
  color:white;
  font-size:2rem;
  text-transform: uppercase;
  animation:title 0.5s;
}
@keyframes title {
    0%{opacity:0;transform: scale(0);}
    100%{opacity:1;transform: scale(1);}

}
header span{
  font-size:5em;
  color:#fff;
  animation:tex 0.5s;
  position: relative;
}
@keyframes tex {
  0%{opacity:0;left:-150%;}
  100%{opacity:1;left:0%;}
}
.wrap{
  position:relative;
}
.slider {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider1{
  background-image: url("1.jpg");
}

.slider2{
  background-image: url("2.jpg");
}
.slider3{
  background-image: url("3.jpg");
}
.arrow {
  cursor: pointer;
  margin-top:50px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}
#left{
  left:0;
  margin-left:30px;
    border-width:30px 30px 30px 0;
    border-color:transparent #fff transparent transparent;
}
#right{
  right:0;
  margin-right:30px;
  border-width: 30px 0 30px 30px;
  border-color:transparent transparent transparent #fff;
}
header nav{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  width:80%;
  top:3%;
}
header nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  border:1px solid white;
  border-radius: 2em;
  padding:.5em 1em;
}
header nav ul a{
  text-decoration: none;
  color:white;
  font-weight: 200;
  font-size:1.5rem;
  text-transform: uppercase;
}
.shownav{
  background:white;
  position:fixed;
  top:0;
  transition:top 0.1s;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
  border:1px solid blue;
}
.shownav a{
  color:black;
}
#buttontop{
  background:#2AC991;
  position: fixed;
  right:5%;
  bottom:5%;
  display:none;
  border-radius: 50%;
  padding: .5em .5em;
}
#buttontop i{
  font-size: 3rem;
  color:#3EEC91;
}
/************************/
#shop{
  min-height:600px;
  border:1px solid black;
  width:90%;
  margin:auto;
}
#shop .header{
  text-align: center;
}
#shop .header *{
  margin-top:7px;
}
#shop .header li{
    display: inline-block;
    padding:.2em .6em;
}
#shop .header li:not(:last-child){
  border-right:1px solid black;
}
#shop .header li a{
  color:blue;
}
#shop .items{
  margin-top:15px;
  display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    opacity:0;
    transition: all 0.5s;
    position: relative;
    bottom:-20%;
}
#shop .item{
  width:250px;
  border:1px solid black;
  border-radius: 15px;
}
#shop .item .image{
  width:90%;
  margin:auto;
  height:200px;
  overflow: hidden;
}
#shop .item .image img{
  width:100%;
  height:100%;
  object-position: center center;
  object-fit: fill;
}
#shop .items .item .info{
  text-align: center;
}
#shop .items .item .info h5 span{text-decoration: line-through;}

#shop .items .item .info li{display: inline-block;color:blue;}

/*******************/
#about{
  min-height:600px;
  border:1px solid black;
  width:90%;
  margin:auto;
}
